/*.tocenter {
    text-align: center !important;
    font-size: 26px !important;
    color: #FF0000 !important;
    background-color: aqua !important;
}

.tocenter span {
    font-size: 40px !important;
}
*/
